.projects-top-flex {
   height: 100%;
   width: 100%;
   position: relative;
   display: flex;
}

.vertical-projects-title {
   font-size: 3vw;
   position: absolute;
   width: fit-content;
   transform: rotate(270deg);
   text-size-adjust: 100%;
   font-family: 'Tinos', serif; 
   top: 28%;
   left: -.8%;
   color: rgb(99, 205, 209);
   animation: fade-in 1s;
   cursor: default;
   /* background: linear-gradient(90deg, 
      rgba(248,255,255,1) 0%, 
      rgb(172, 255, 255) 16%, 
      rgba(153,251,251,1) 61%, 
      rgba(208,252,252,1) 83%, 
      rgba(255,255,255,1) 93%); */
}

.projectCards-container-flex {
   position: relative;
   top: 45%;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 30%;
   line-height: .9;
   user-select: none;
   align-items: flex-end;
   justify-content: space-evenly;
   border-right: 2px solid grey;
   padding-right: 7%;
   flex:1;
   z-index: 10;
}

/* EXPANDED PANEL CSS BELOW */
.projects-expandedCards-container {
   flex:2;
   border-top-right-radius: .5vw;
   position: relative;
   border-bottom-right-radius: .5vw;
}

.expandedCards-content {
   position: absolute;
   height: 98%;
   width: 98%;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
   animation: fade-in .5s;
   color: #8A8A8A;
   
}

.expanded-title {
   width: fit-content;
   text-align: center;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
   padding: 2.25%;
   border-radius: .5vw;
   position: relative;
   text-transform: uppercase;
   font-size: 2.5vw;
   font-weight: bold;
   color: rgb(143, 143, 143);
   /* background: linear-gradient(90deg, 
      rgba(248,255,255,1) 0%, 
      rgb(254, 255, 202) 16%,   
      rgb(158, 255, 171) 73%, 
      rgba(255,255,255,1) 93%); */
   background-color: rgb(46, 46, 46);
}

_::-webkit-full-page-media, _:future, :root .expanded-title {
   font: 2vw;
   margin-bottom: 5%;
}

.no-card-selected {
   top: 50%;
   transform: translate(-65%, -70%);
   color: rgb(143, 143, 143);
   text-transform: none;
}

.expandedCard-blurb {
   font-size: 1.25vw;
   position: relative;
   font-weight: bold;
   top: 35%;
   width: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}

_::-webkit-full-page-media, _:future, :root .expandedCard-blurb {
   font-size: 1.1vw;
}

.expandedCard-links {
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   font-size: 1vw;
   position: absolute;
   margin-top: 3%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.expandedCard-links a {
   text-decoration: none;
   transition: all .25s;
   font-weight: bold;
   color: rgb(68, 68, 68);
   padding: 2%;
   flex: 1;
}

.expandedCard-links a:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(236, 122, 122);
}

_::-webkit-full-page-media, _:future, :root .vertical-projects-title {
   transform: none;
   top: 10%;
   left: 15%;  
   font-size: clamp(1rem, 3vw, 3rem)
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
   .projects-top-flex {
      flex-direction: column-reverse;
   }
   .projectCards-container-flex {
      top: 0%;
      transform: none;
      height: fit-content;
      align-items: flex-start;
      width: 75%;
      left: 50%;
      transform: translateX(-50%);
      flex: 1.5;
      margin-bottom: 5%;
      border-top: 2px solid grey;
      border-right: none;
   }
   .no-card-selected {
      font-size: 7vw;
      top: 50% !important;
      transform: translate(-50%, -50%)
   }
   .expandedCards-content {
      /* border-bottom: 2px solid grey; */
   }
   .expanded-title {
      font-size: 5.5vw;
      top: 5%;
      color: white;
      border-radius: 7px;
   }
   .expandedCard-blurb {
      font-size: 3.5vw;
      top: 35%;
      width: 95%;
      color: grey;
      text-align: center;
   }
   .vertical-projects-title {
      font-size: 5vw;
      left: -12%;
   }
   .expandedCard-links {
      font-size: 2vw;
      display: flex;
      width: 99%;
      justify-content: center;
      flex-direction: row;
   }
   .live-link {
      font-size: 2.5vw;
      color: rgb(100, 100, 100) !important;
      margin: 1%;
      background: rgba(167, 231, 228, 0);
      border-radius: 3px;
      border: 1px solid grey;
   }
}