.landing-container {
   height: 100%;
   width: 100%;
   padding-left: 5%;
   z-index: 97;
   font-family: "Tinos", serif;
}

.logo {
   position: relative;
   left: 5%;
   top: 10%;
   z-index: 101;
   filter: invert(0.6);
   height: 40%;
}
/* 
.brushStroke {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */

.border-box {
   position: absolute;
   height: 60%;
   width: 80%;
   border-radius: 10px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* border: 2px solid rgb(123, 235, 211); */
   animation: fade-in 2s;
   z-index: 97;
}

.my-name {
   position: absolute;
   top: 40%;
   left: 15%;
   /* transform: translate(-50%); */
   height: fit-content;
   width: fit-content;
   /* border-bottom: 5px solid rgb(97, 97, 97); */
   font-size: 9vw;
   color: rgb(80, 80, 80);
   transition: all 0.25s;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
   animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.my-name span {
   color: rgb(129, 212, 192);
   -webkit-animation: text-focus-in .1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
   animation: text-focus-in .1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.tagline {
   position: absolute;
   left: 20%;
   top: 58%;
   color: rgb(80, 80, 80);
   font-size: 1.95vw;
   font-weight: bold;
   border-radius: 0.25vw;
   z-index: 91;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   font-family: "Montserrat", sans-serif;
   padding: 1%;
   transition: all 0.25s;
}

.tagline span {
   color: rgb(255, 0, 212);
}

@-webkit-keyframes text-focus-in {
   0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

@keyframes text-focus-in {
   0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes AnimationName {
   0% {
      background-position: 0% 91%;
   }
   50% {
      background-position: 100% 10%;
   }
   100% {
      background-position: 0% 91%;
   }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 850px) {
   .tagline {
      width: 70%;
      top: 50%;
      font-size: 14px;
   }
   .my-name {
      font-size: 55px;
   }
   .my-name span {
      font-size: 40px;
   }
}
