.landing-container {
   height: 100%;
   width: 100%;
   padding-left: 5%;
   z-index: 97;
   font-family: 'Tinos', serif;  

}

.logo {
   position: relative;
   left: 5%;
   top: 10%;
   z-index: 101;
   filter: invert(.6);
   height: 40%;
}
/* 
.brushStroke {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */

.border-box {
   position: absolute;
   height: 60%;
   width: 80%;
   border-radius: 10px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 2px solid rgb(175, 175, 175);
   animation: fade-in 2s;
   /* padding:0 10px; */
   z-index: 97;
}

.my-name {
   position: relative;
   top: 40%;
   left: 50%;
   transform: translate(-50%);
   height: fit-content;
   width: 80%;
   border-bottom: 2px solid rgb(59, 59, 59);
   font-size: 9vw;
      background: linear-gradient(141deg, 
         rgba(255,255,255,1) 7%, 
         rgba(175,255,251,1) 21%, 
         rgba(255,173,143,1) 51%, 
         rgba(255,255,255,1) 88%);
   color: rgb(80, 80, 80);
   transition: all .25s;;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.my-name span {
   color: rgb(119, 119, 119);
   font-size: 13vh;
}

.tagline {
   position: absolute;
   left: 15%;
   /* transform: translateX(-50%); */
   top: 58%;
   width: fit-content;
   /* background-color: #36f3f3; */
   /* background: linear-gradient(90deg, rgba(248,255,255,1) 0%, rgba(54,243,243,1) 16%, rgba(153,251,251,1) 61%, rgba(208,252,252,1) 83%, rgba(255,255,255,1) 93%); */
   color: rgb(80, 80, 80);  
   font-size: 1.95vw;
   font-weight: bold;
   border-radius: .25vw;
   z-index: 91;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   font-family: 'Montserrat', sans-serif;
   padding: 1%;
   transition: all .25s;;
   /* -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
}

.tagline span {
   color: rgb(255, 0, 212);
}

@-webkit-keyframes text-focus-in {
   0% {
      -webkit-filter: blur(12px);
               filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
               filter: blur(0px);
      opacity: 1;
   }
}

@keyframes text-focus-in {
   0% {
      -webkit-filter: blur(12px);
               filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
               filter: blur(0px);
      opacity: 1;
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes AnimationName {
   0%{background-position:0% 91%}
   50%{background-position:100% 10%}
   100%{background-position:0% 91%}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 850px) {
   .tagline {
      width: 70%;
      top: 50%;
      font-size: 14px;
   }
   .my-name {
      font-size: 55px;
   }
   .my-name span {
      font-size: 40px;
   }
}