.btn-container {
   position: absolute;
   left: 10%;
   top: 0%;
   height: 3%;
   padding: 14%;
   width: 30%;
   /* background: rgb(136, 136, 136); */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   z-index: 199;
   animation: fade-in 1s;
}

.btn-line {
   height: 20%;
   border-radius: 10px;
   width: 100%;
   background: rgb(75, 75, 75)
}

.exit-btn-container {
   position: absolute;
   left: 20%;
   top: -1%;
   height: fit-content;
   /* background: rgb(136, 136, 136); */
   font-size: 90px;
   color: rgb(255, 255, 255);
   text-shadow: 1px 1px 15px rgb(255, 255, 255);
   width: 15vw;
   z-index: 199;
   animation: fade-in 1s;
}
