.projectcard-container {
   width: fit-content;
   padding: 1%;
   position: relative;
   font-size: 2vw;
   user-select: none;
   cursor: pointer;
   border-radius: 0px;
   text-align: right;
   transition: all .5s;
   left: 0;
   color: rgb(49, 49, 49);
   font-weight: bold;
}

.projectcard-container:hover {
   user-select: none;
   color:  rgb(42, 161, 151);
   left: 4%;      
}

/*  UNDERLINE ANIM BELOW */   
.projectcard-container::before {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #f88379;
   transform-origin: bottom left;
   user-select: none;
   transition: transform 1s;
}

.projectcard-container:hover::before {
   transform: scaleX(.6);
   transform-origin: bottom right;
   transition: transform .3s;
   user-select: none;
   background-color: #f88379
}
/* END OF UNDERLINE ANIM */

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
   .projectcard-container {
      -webkit-tap-highlight-color: transparent;
      font-size: 4.5vw;
      line-height: 1;
   }
   .projectcard-container:hover {
      cursor: pointer;
      left: -4%;
   }
}