
.typewriter {
   position: absolute;
   color: rgb(66, 66, 66);
   font-weight: bold;
}

.about-blurb {
   padding: 1%;
   position: relative;
   top: 50%;
   left: 1.4%;
   transform: translateY(-50%);
   color: rgb(71, 71, 71);
   font-size: 1.2vw;
   width: 60%;
   line-height: 1.55;
   font-weight: bold;
   animation: fade-in 2s;
}

.about-blurb span {  
   font-size: 2.25vh;
   /* color: black; */
}

_::-webkit-full-page-media, _:future, :root .about-blurb span {
   font-size: 1.2vw;
}

.link {
   color: rgb(71, 71, 71);
   text-decoration: none;
}

.vertical-title {
   font-size: 3vw;
   position: absolute;
   width: fit-content;
   transform: rotate(270deg);
   font-family: 'Tinos', serif;  
   top: 23%;
   left: 3.7%;
   color: rgb(99, 205, 209);
   animation: fade-in 1s;
   cursor: default;
   /* background: linear-gradient(72deg, 
      rgba(248,255,255,1) 0%, 
      rgba(247,197,255,1) 32%, 
      rgb(255, 180, 254) 69%, 
      rgba(255,255,255,1) 93%); */
}

_::-webkit-full-page-media, _:future, :root .vertical-title {
   transform: none;
   top: 10%;
   left: 15%;  
   font-size: clamp(1rem, 3vw, 3.1vw)
}

.about-skillcards {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 90%;
   width: 35%;
   right: 3%;
   top: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .vertical-title {
      left: -4%;
      top: 27%;
      font-size: 5vw;
   }
   .blurb-contents-mobile {
      position: relative;
      border-top: 2px solid grey;
      padding-top: 6%;
   }
   .about-blurb {
      font-size: 3vw;
      line-height: 1.35;
      width: 88%;
      /* height: 100%; */
      text-align: center;
      left: 50%;
      /* border: 2px solid red; */
      /* padding-top: 15%; */
      top: 60%;
      transform: translate(-50%);
   }
   .about-blurb span {
      font-size: 3vw;
      color: #464646;
   }
   .about-skillcards {
      width: 95%;
      height: 55%;
      top: 0%;
   }
   
}  