.navbar-container {
   position: fixed;
   left: 0; top: 0;
   width: 4%;
   min-width: 3%;
   height: 100%;
   z-index: 99;
   background-color: rgb(31, 31, 31);
   box-shadow: 2px 2px 5px rgb(0, 0, 0);
   font-family: 'Montserrat', sans-serif;
   transition: all .3s;
   font-weight: bold;
	-webkit-animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.navbar-container:hover {
   width: 12%;
   /* min-width: 190px; */
   background-color: rgb(31, 31, 31);
   box-shadow: 2px 2px 25px rgb(0, 0, 0);
}

.navbar-container:hover > .navbar-flex-container {
   opacity: 1;
}

.navbar-flex-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: left;
   left: 9%;
   height: 30%;
   width: 100%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   color: rgb(119, 119, 119);
   opacity: 0;
   transition: all .25s;
}

.nav-item {
   cursor: pointer;
   position: relative;
   font-size: 2.5vh;
   width: fit-content;   
   font-weight: bold;
   transition: all .25s;
   /* letter-spacing: 2px; */
   text-align: left;
   text-decoration: none !important;
   z-index: 99;
   user-select: none;
   transition: all .5s;
   left: 0;
   top:0;
}

.nav-item::before {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: rgb(78, 78, 78);
   transform-origin: bottom center;
   transition: transform .25s ease-in-out;
}

.nav-item:hover::before {
   transform: scaleX(1);
   transition: transform .25s ease-in-out;
   transform-origin: bottom center;
   background-color: rgb(119, 119, 119);

}

a {
   color: rgb(119, 119, 119);
}

.nav-item:hover {
   color: rgb(88, 220, 224);
   /* color: rgb(212, 212, 212); */
   /* top: -2%;
   left: 2%; */
}

.not-expanded {
   position: absolute;
   color: grey;
   transform: translateY(-50%);
   /* transform-origin: 40px 20px; */
   top: 50%;
   font-size: 2vw;
   writing-mode: vertical-lr;
   width: 120px;
   left: 20%;
   height: fit-content;
   /* transition: .25s; */
   opacity: 1;
   letter-spacing: .4vh;
   animation: fade-in 1s;
}

.navbar-container:hover > .not-expanded {
   display: none;
   opacity: 0;
   z-index: 1;
   visibility: hidden;
}

