.mobile-placeholder-container {
   margin: 0;
   position: fixed;
   padding: 5%;
   background: rgb(30, 77, 138);
   top: 0;
   height: 100vh;
}

h1 {
   position: relative;
   top: 20%;
   color: rgb(223, 223, 223);
}