.top-level-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  /* font-family: 'Tinos', serif;   */
  font-family: 'Montserrat', sans-serif;
  transition: all .25s;

}

.content-container {
  height: 100%;
  width: 100%;
  padding-left: 2%;
  z-index: 97;
  /* animation: fade-in 1s; */
  color: #8A8A8A;
}

.content-border {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);   
  height: 80%;
  font-size: 6vh;
  width: 80%;
  border: 3px solid rgb(136, 136, 136);
  z-index: 1;
  border-radius: 10px;
}

@-webkit-keyframes text-focus-in {
  0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
  }
  100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
  }
  100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

